/* ESTILO GERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Salsa&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    background-image:url(fundo.jpeg);
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contacto button{
    padding: 10px 40px;
    font-size: 20px;
    background-color:#c2ceda;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: .2s;
    font-weight: bold;
}

.btn-contacto button:hover, section.formulario .btn-form input:hover, .especialidades .especialidades-box:hover{
    box-shadow: 0px 0px 16px rgb(210, 105, 30);
    transform: scale(1.05);
}

h2.title{
    color: #fff;
    padding: 40px 4%;
    text-align: center;
    font-size: 30px;
  }

/* CABEÇALHO */
header{
    padding: 20px 4%;
}

header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a.topo{
    color: #c2c2c2;
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}

header a.txt{
    color: #fff;
    text-decoration: none;
    font-size: 20px;  
}

header a.txt span{
    color: #c2ceda;
}

header a.topo:hover{
    color: #c2ceda;
    font-weight: bold;
    box-shadow:#ffffff;
    transform: scale(1.06);
}

header .logo a{
    font-weight: bold;
}

header  nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}

/* Topo do Site */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.topo-do-site .txt-topo-site h1{
    color: #fff;
    font-size: 35px;
    font-weight: 20;
    margin-bottom: -30px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #c2ceda;
    font-size: 35px;
    font-weight: bold;
    font-size: 90px;
}

.topo-do-site .txt-topo-site span{
    color: #c2ceda;
    text-decoration: none;
    border-radius: 35%;
    cursor: pointer;
    font-weight: bold;
    transition: .5s;
}

.topo-do-site .txt-topo-site h3{
    color: #c2ceda;
    font-size: 25px;
    font-weight: bold;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 35px 0;
    text-align: justify;
    height: 100px;
    width: auto;
}

.topo-do-site .txt-topo-site a{
    text-decoration: none;
}

.topo-do-site .img-topo-site img{
    position: relative;
    color: #000;
    animation: flutuar 2s ease-in-out alternate infinite;
}

/* ANIMAÇÕES */
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESPECIALIDADES */
section.especialidades{
    padding: 30px 4%;
    box-shadow: 0px 5px 30px #ffffff17;
}
.especialidades .title span{
    color: #c2ceda;
}

.especialidades .especialidades-box{
    display: block;
    padding: 10px 4%;
    cursor: pointer;
    margin: -5px 0;
    transition: .5s;
    border-radius: 25px;
}

.especialidades .especialidades-box i{
    font-size: 48px;
    color: #c2ceda;
}

.especialidades .especialidades-box p{
    color: #fff;
}

.especialidades .especialidades-box h3{
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
}

.especialidades .flex{
    gap: 50px;
}

/* SOBRE MIM */
section.sobre{
    padding: 80px 4%;
    box-shadow: 0px 5px 30px #ffffff17;
}

.sobre .sobre-box h2{
    color: #fff;
}

.sobre .sobre-box h2 span{
    color: #c2ceda;
}

section.sobre .sobre-box img{
    border-radius: 25px;
}

section.sobre .sobre-box p{
    margin: 10px 0;
    color: #fff;
}

section.sobre .flex{
    gap: 50px;
}

/* Formulario */
section.formulario h2.title span{
    color: #c2ceda;
}

section.formulario{
    padding: 50px 4%;
    box-shadow: 0px 5px 30px #ffffff17;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

form input, form textarea{
    width: 100%;
    background-color: rgba(146, 144, 144, 0.344);
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 25px;
    font-size: 18px;
}

form textarea{
    resize: none;
}

form input::placeholder, form textarea::placeholder{
    color: #c2ceda;
}

section.formulario .btn-form{
    margin-top: 20px;
}
   

section.formulario .btn-form input{
    border-radius: 20px;
    font-weight: bold;
    width: 100px;
    margin: 0 190px;
    font-size: 20px;
    background-color:#c2ceda;
    color: #000;
    cursor: pointer;
    transition: .5s;
}

/* Rôdape */
footer{
    padding: 30px 4%;  
}

footer .flex{
    justify-content: space-between;
}

/* footer .footer-line{
    
} */