/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #1d1d1dba;
    height: 100vh;
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contacto button{
    padding: 10px 40px;
    font-size: 20px;
    background-color:#c2ceda;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: .5s;
}

.btn-contacto button:hover, section.formulario .btn-form input:hover, .especialidades .especialidades-box:hover{
    box-shadow: 0px 0px 16px rgb(210, 105, 30);
    transform: scale(1.1);
}

h2.title{
    color: #fff;
    padding: 40px 4%;
    text-align: center;
    font-size: 30px;
  }

/* CABEÇALHO */
header{
    padding: 20px 4%;
}

header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: #989898;
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}

header a:hover{
    color: #c2ceda;
    box-shadow:#ffffff;
    transform: scale(1.06);
}

header  nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}

/* Topo do Site */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.topo-do-site .txt-topo-site h1{
    color: #fff;
    font-size: 35px;
    font-weight: 20;
}

.topo-do-site .txt-topo-site h1 span{
    color: #c2ceda;
    font-size: 35px;
    font-weight: 20;
}

.topo-do-site .txt-topo-site span{
    color: #ffffff;
    text-decoration: none;
    border-radius: 35%;
    cursor: pointer;
    transition: .5s;
}

.topo-do-site .txt-topo-site span:hover{
    color: #c2ceda;
    transform: scale(1.5);
}

.topo-do-site .txt-topo-site h3{
    color: #c2ceda;
    font-size: 25px;
    font-weight: 10;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 30px 0;
    text-align: justify;
    height: 60px;
    width: auto;
}

.topo-do-site .txt-topo-site a{
    text-decoration: none;
}

.topo-do-site .img-topo-site img{
    position: relative;
    color: #000;
    animation: flutuar 2s ease-in-out alternate infinite;
}

/* ANIMAÇÕES */
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESPECIALIDADES */
section.especialidades{
    padding: 40px 4%;
}
.especialidades .title span{
    color: #c2ceda;
}

.especialidades .especialidades-box{
    display: block;
    padding: 40px 4%;
    cursor: pointer;
    margin: -5px 0;
    transition: .5s;
    border-radius: 25px;
}

.especialidades .especialidades-box p{
    color: #fff;
}

.especialidades .especialidades-box h3{
    color: #c2ceda;
    font-size: 30px;
    margin: 10px 0;
}

.especialidades .flex{
    gap: 50px;
}

/* SOBRE MIM */
section.sobre{
    padding: 90px 4%;
}

.sobre .sobre-box h2.title{
   text-align: left;
   margin: -30px 0;
}

.sobre .sobre-box h2.title span{
    color: #c2ceda;
}

section.sobre .sobre-box img{
    border-radius: 25px;
}

section.sobre .sobre-box p{
    padding: 0 4%;
    color: #fff;
    margin: 5px 0;
    text-align: justify;
    height: 60px;
    width: auto;
}

section.sobre .flex{
    gap: 50px;
}

/* Formulario */
section.formulario h2.title span{
    color: #c2ceda;
}

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

form input, form textarea{
    width: 100%;
    background-color: rgba(146, 144, 144, 0.344);
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 25px;
    font-size: 18px;
}

form textarea{
    resize: none;
}

form input::placeholder, form textarea::placeholder{
    color: #c2ceda;
}

section.formulario .btn-form{
    margin-top: 20px;
}
   

section.formulario .btn-form input{
    border-radius: 20px;
    width: 100px;
    margin: 0 190px;
    font-size: 20px;
    background-color:#c2ceda;
    color: #000;
    cursor: pointer;
    transition: .5s;
}