/* ESTILO GERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Salsa&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff;
    height: 100vh;
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contacto button{
    padding: 10px 40px;
    font-size: 20px;
    background-color:#05bb17;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: .2s;
    font-weight: bold;
}

.btn-contacto button:hover, section.formulario .btn-form input:hover, .especialidades .especialidades-box:hover{
    box-shadow: 0px 0px 16px rgb(210, 105, 30);
    transform: scale(1.05);
}

h2.title{
    color: #000;
    padding: 40px 4%;
    text-align: center;
    font-size: 30px;
  }

  h2.title span{
    color: #05bb17;
  }  

.btn-social button{
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: #05bb17;
    color: #fff;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    cursor: pointer;
    transition: .2s;
}

.btn-social button:hover{
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: #05bb17;
    color: chocolate;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    cursor: pointer;
    transform: scale(1.05);
}

/* CABEÇALHO */
header{
    padding: 20px 4%;
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 99999;
}

header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a.topo{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}

header a.txt{
    color: #000;
    text-decoration: none;
    font-size: 20px;  
}

header a.txt span{
    color: #05bb17;
    font-weight: bold;
}

header a.topo:hover{
    color: #05bb17;
    font-weight: bold;
    box-shadow:#09e11f98;
    transform: scale(1.06);
}

header .logo a{
    font-weight: bold;
}

header  nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contacto button{
    margin: -10px 0;
}

/* Topo do Site */
section.topo-do-site{
    padding: 100px 4%;
}

section.topo-do-site .flex{
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.topo-do-site .txt-topo-site h1{
    color: #000;
    font-weight: bold;
    font-size: 35px;
    font-weight: 20;
    margin-bottom: -30px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #05bb17;
    font-size: 35px;
    font-weight: bold;
    font-size: 90px;
}

.topo-do-site .txt-topo-site span{
    color: #05bb17;
    text-decoration: none;
    border-radius: 35%;
    cursor: pointer;
    font-weight: bold;
    transition: .5s;
}

.topo-do-site .txt-topo-site h3{
    color: #05bb17;
    font-size: 25px;
    font-weight: bold;
}

.topo-do-site .txt-topo-site p{
    color: #000;
    margin: 35px 0;
    font-weight: bold;
    text-align: justify;
    height: 100px;
    width: auto;
}

.topo-do-site .txt-topo-site a{
    text-decoration: none;
}

.topo-do-site .img-topo-site img{
    position: relative;
    color: #000;
    font-weight: bold;
    animation: flutuar 2s ease-in-out alternate infinite;
}

/* ANIMAÇÕES */
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESPECIALIDADES */
section.especialidades{
    padding: 80px 4%;
}
/* .especialidades .title span{
    color: #05bb17;
} */

.especialidades .especialidades-box{
    display: block;
    padding: 10px 4%;
    cursor: pointer;
    margin: -5px 0;
    transition: .5s;
    border-radius: 25px;
}

.especialidades .especialidades-box i{
    font-size: 48px;
    color: #05bb17;
}

.especialidades .especialidades-box i:hover{
    color: rgba(210, 105, 30, 0.568);
}

.especialidades .especialidades-box p{
    color: #000;
    font-weight: bold;
}

.especialidades .especialidades-box h3{
    color: #000;
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}

.especialidades .flex{
    gap: 50px;
}

/* SOBRE MIM */
section.sobre{
    padding: 170px 4%;
    box-shadow: 0px 5px 30px #00000017;
}

.sobre .sobre-box h2 span{
    color: #05bb17;
}

section.sobre .sobre-box img{
    border-radius: 25px;
}

section.sobre .sobre-box p{
    margin: 10px 0;
    color: #000;
    font-weight: bold;
}

section.sobre .flex{
    gap: 50px;
}

/* Formulario */
section.formulario{
    padding: 50px 4%;
    box-shadow: 0px 5px 30px #00000017;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

form input, form textarea{
    width: 100%;
    background-color: #d6d6d658;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 25px;
    font-size: 18px;
}

form textarea{
    resize: none;
}

form input::placeholder, form textarea::placeholder{
    color: #000000;
}

section.formulario .btn-form{
    margin-top: 20px;
    text-align: center;
}  

section.formulario .btn-form input{
    font-weight: bold;
    border-radius: 20px;
    font-weight: bold;
    width: 100px;
    font-size: 20px;
    background-color:#05bb17;
    color: #000;
    cursor: pointer;
    transition: .5s;
}

/* Rôdape */
footer{
    padding: 10px 4%;  
}

footer .flex{
    justify-content: space-between;
}

footer .logo-line .flex .logo a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #05bb17;
}

footer .footer-line p{
    color: #05bb17;
}

footer .footer-line{
    padding: 20px 0;
    margin-top: 30px;
}

.borda{
    border-top: 2px solid #05bb17;
}

footer .footer-line p i{
    font-size: 25px;
}

footer .footer-line p a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

@media screen and (max-width: 1085px) {

    /* CLASSES GERAIS */
    .flex{
        flex-direction: column-reverse;
    }
    /* CABEÇALHO */
    .menu-desktop, .btn-contacto{
         display: none; 
    } 

    h2.title{
        line-height: 30px;
        font-size: 25px;
    }

    /* TOPO DO SITE */
    section.topo-do-site{
        margin-top: -190px;
    }

    .topo-do-site .img-topo-site img{
        display: none;
    }

    .topo-do-site .txt-topo-site h1{
        font-size: 30PX;
    }

    .topo-do-site .btn-social button{
        margin: 90px 0;
    }

    /* ESPECIALIDADES */
    section.especialidades{
        padding: 80px 8%;
        margin: -200px 0;
        margin-bottom: 1px;
        
    }

    /* SOBRE */
    .sobre img{
        width: 100%;
    }

    .sobre .flex{
       flex-direction: column;
    }

    /* FORMULÁRIO */
    section.formulario{
        padding: 20px 4%;
        margin-top: -100px;
    }

    /* RODAPE */
    footer .flex{
        flex-direction: column-reverse;
        gap: 40px;
    }
   
    .btn-social{
       text-align: center;
    }

    footer .logo-line .flex .logo a{
        text-align: center;
        margin-right: 50px;
    }

    footer .footer-line{
        padding: 5px 0px;
        text-align: center;
    } 
}